
.container-dropdown__link{
	/* background-color: var(--color-black); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: .5rem;
	color: var(--color-white);
	text-decoration: none;


	width: 100%;
	margin-bottom: 1rem;

	.dropdown__link{
		color: red;
		/* font-size: 12px; */
	}
	a{
		color: red;
		font-size: 12px;
	}
}



.menu-link-mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	color: var(--color-white);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	border-bottom: 1px solid #ffffff33;
	width: 100%;
	




	
	
}


.arrow-icon{
	transition: all 0.3s ease;
	margin-left: 1rem;
	font-size: 1rem;
		color: var(--color-white);
	}



	.arrow-icon.open{
		transform: rotate(180deg);



	}


	.menu-lateral{

		&.open{

			.dropdown__link{
				color: #a4a4a4;
				font-weight: 100;
				font-size: 14px
			}
			
		}
		
	}