.page__content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--header-height-mobile) auto var(--footer-height);

	@media (min-width: 768px){
		grid-template-rows: var(--header-height) auto var(--footer-height);
	}
	.header{
		grid-row: 1/2;

	}
	.content{
		grid-row: 2/3;

	}
	.footer--container{
		height: var(--footer-height);
		grid-row: 3/4;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		width: 100%;
		margin: 0 auto;
	}

}