.medico {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr 3fr;
	/* margin: 0 auto; */
	background-color: var(--color-primary-light);
	padding: 1rem;
	
	@media (min-width: 768px){
		grid-template-columns: minmax(150px, 20%) minmax(150px, 80%);
		gap: 1rem;
	}
	
	.medico__imagen {
		aspect-ratio: 1/1;
		max-width: 100%;
		/* max-height: 80%; */
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
		margin: 0 auto;
		@media (min-width: 768px){
			margin-top: 0;

		}
		
		img {
			height: 100%;
			width: 100%;
			@media (min-width: 768px){
				width: 100%;
				/* height: 100%; */
			}
			/* border-radius: 10px; */
		}
	}

	.medico__info {
		text-align: center;
		width: 100%;
		margin: 10px auto;
		/* max-width: 50%; */

		@media (min-width: 768px){
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			/* gap: 1rem; */
		}
		
		h3 {
			color: var(--color-primary);
			margin: 0;
			font-size: 1rem;
			font-weight: 500;
			/* width: 70%; */

			@media (min-width: 768px){
				font-size: 1.5rem;
			}
		}
		
		p {
			margin: 0;
			font-size: .6rem;
			color: var(--color-text);
			font-weight: 400;
			@media (min-width: 768px){
				font-size: .8rem;
				text-align: left;
			}
		}
	}
	.medico__acciones {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		margin: 1rem 0;

		@media (min-width: 768px){
			justify-content: flex-start;
		}

		.paciente__eliminar {
			background-color: var(--color-danger);
		}
		button {
			font-size: 1em;
			width: 100%;
			display: block;
			font-family: inherit;
			border: none;
			border-radius: 8px;
			padding: 0.5rem 0.75rem;
			box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
			background-color: white;
			line-height: 1.5;
			margin: 0;
	
			@media (min-width: 768px){
				font-size: .8rem;
			}
		}
	}
	form {
		display: block;
		margin-top: 0em;
	}
	
	button {
		color: #3992ff;
		font-weight: 500;
	}
}

