/* .signin {
	background-color: var(--color-black);
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-emphasis: left;

	.signin__title {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 20px;
	}

	.signin__form {
		color: var(--color-black);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 400px;
		padding: 20px;
		background-color: var(--color-white);
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		.signin__form-input {
			width: 100%;
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid var(--color-black);
			border-radius: 5px;
		}
		.signin__form-label {
			font-size: 1rem;
			font-weight: 700;
			margin-bottom: 5px;
		}

		.signin__form-links {
			margin-bottom: 20px;
			text-align: right;
			display: flex;
			gap: 10px;
			
			.signin__form-link {
				margin-bottom: 20px;
				text-align: right;
				text-align: center;
				color: var(--color-primary);
				text-decoration: none;

				&.signin_form-link--create-account {
					color: var(--color-info);
				}
			}
		}

		.signin__form-button {
			width: 100%;
			padding: 10px;
			border: none;
			border-radius: 5px;
			background-color: var(--color-primary);
			color: var(--color-white);
			font-size: 1rem;
			font-weight: 700;
			cursor: pointer;
		}


		.signin__form-link--create-account {
			color: var(--color-info);
		}
	}
}
 */
