.resultados {
	position: relative;

	/* padding-top: calc(var(--header-height) - var(--footer-height) + 54px); */
	width: 100%;
	max-width: 100%;
	/* height: calc(100vh - var(--header-height) - var(--footer-height)); */
	display: flex;
	/* justify-content: center; */
	margin: 60px auto;
	flex-direction: column;
	align-items: center;

	.resultados__title {
		font-size: 24px;
		font-weight: 600;
		color: var(--color-secondary);
		/* padding-top: 12px; */
		text-align: center;
		margin-bottom: 10px;
	}
	@media (min-width: 768px) {
		max-width: 100%;
		padding-top: 30px;
	}
}

.resultados__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;

	.resultados__form__container {
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: start;
		gap: 10px;
	}

	.resultados__form__input {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 40%;
	}


	.resultados__form__error {
		color: red;
		margin: 0;
		margin-top: 3px;
		/* align-self: flex-start; */
		padding-left: 10px;
		font-size: 12px;
		text-align: center;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		background-color: yellow;
		padding: 10px;
		border-radius: 5px;
	}

	.resultados__form__button {
		font-size: 13px;
		width: 25%;
		max-width: 200px;
		padding: 6px 10px;
		color: var(--color-secondary);

		&:disabled {
			background-color: #ccc;
			color: gray;
		}
		
		&:not(:disabled) {
			animation: pulsate 1s infinite;
		}
	}
}

.resultados__form__input input::placeholder {
	font-size: 12px;
}

.resultados__table__container {
	width: 90%;
	max-height: 650px;
	overflow-y: auto;
}

.resultados__table {
	font-size: 13px;
	width: 100%;
	border-collapse: collapse;

	@media (max-width: 768px) {
		font-size: 10px;
	}
}

.resultados__table__thead {
	/* width: 100%; */
	background-color: #7b4b8a;
	color: white;
	position: sticky;
	top: 0;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.resultados__table th,
.resultados__table td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: left;
	height: 50px;

	&.debe {
		color: #d3d3d3;
	}

	&.w-small {
		width: 100px;
	}

	&.w-medium {
		width: 200px;
	}

	&.w-large {
		width: 500px;
	}
}

.resultados__table th {
	background-color: #7b4b8a;
	color: white;

	&.centrado {
		text-align: center;
	}
}
.centrado.deuda {
	color: #d2caca;
}
.estudio.deuda {
	color: #f30c0c75;
}

.resultados__table td {
	background-color: #f9f9f9;
	color: #7b4b8a;

	&.centrado {
		width: 100px;
		text-align: center;
	}
}

.resultados__table td a img {
	width: 20px;
	height: 20px;
}

.resultados__table__pagos {
	width: 100px;
}

.resultados__table__descargar_th {
	width: 100px;
	text-align: center;
}

.resultados__table__descargar__link {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.resultados__table__no_records {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h2 {
		font-size: 24px;
		font-weight: 600;
		color: var(--color-white);
		color: #2d2b72;

		p {
			font-size: 16px;
			font-weight: 400;
			color: var(--color-white);
			margin: 0;
			margin-top: 0;
		}
	}
}

@keyframes pulsate {
  0% {
    transform: scale(1.05);
    box-shadow: none;
		/* font-size: 13px; */
		color: var(--color-primary-light);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 1rem var(--color-primary);
		/* font-size: 14px; */
		color: var(--color-primary-light);
  }
  100% {
    transform: scale(1.05);
    box-shadow: none;
		color: var(--color-primary-light);
  }
}
