.contact-container {
	padding-top: var(--header-height-mobile);

	@media (min-width: 768px){
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-top: var(--header-height);
	}
}

#map {
	height: 400px;
	width: 100%;

	@media (min-width: 768px) {
		height: 100%;
	}
}
.form-container {
	background-color: var(--color-black);
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	padding-top: 20px;

	@media (min-width: 768px) {
		justify-content: center;
	}

	.form-container__title {
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 20px;
		color: var(--color-white);
	}

	.form {
		box-sizing: border-box;
		color: var(--color-black);
		width: 100%;
		max-width: 400px;
		padding: 20px;
		background-color: var(--color-white);
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		.form__input {
			width: 100%;
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid var(--color-black);
			border-radius: 5px;
		}
		.form__label {
			font-size: 1rem;
			font-weight: 600;
			margin-bottom: 5px;
		}

		.form__links {
			margin-bottom: 5px;
			text-align: right;
			display: flex;
			gap: 10px;

			.form__link {
				/* margin-top: 20px; */
				text-align: right;
				text-align: center;
				color: var(--color-primary);
				text-decoration: none;

				&.signin_form-link--create-account {
					color: var(--color-info);
				}
			}
		}

		.form__button {
			width: 100%;
			padding: 10px;
			border: none;
			border-radius: 5px;
			background-color: var(--color-primary);
			color: var(--color-white);
			font-size: 1rem;
			font-weight: 700;
			cursor: pointer;
		}

		.form__link_create-account[href='/signup'] {
			color: var(--color-info);
		}
	}
}


