.header {
	background-color: var(--color-white);
	height: 70px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	display: flex;
	flex-direction: column;

	&.open {
		min-height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@media (min-width: 768px) {
		height: 120px;
		flex-direction: column;
		justify-content: space-between;

		.header__login-icon {
			display: flex;
			height: 45px;
			margin-right: 10px;
		}
	}
}

.header__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 0 10px;

	@media (min-width: 768px) {
		padding: 0;
		margin-top: 10px;
	}
}

.header__info-compania {
	display: flex;
	align-items: flex-start;
	height: 100%;

	.header-logo {
		width: 110px;

		@media (min-width: 768px) {
			width: 120px;
			padding: 10px;
		}
	}

	.datos {
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;

		.info {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			span {
				color: var(--color-black);
				font-size: 0.8rem;
				font-weight: 400;
			}
		}

		img {
			width: 12px;
			height: 12px;
			margin-right: 10px;
			color: var(--color-primary);
		}
	}

	@media (min-width: 768px) {
		.datos {
			display: flex;
		}
	}
}

.header__login-icon {
	display: none;

	/* @media (min-width: 768px) {
		height: 45px;
	} */

	&.open {
		display: flex;
		height: 30px;

		@media (min-width: 768px) {
			width: 25px;
			padding: 10px;
		}
	}
}

.header__login.open {
	display: flex;
	gap: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;

	.header__menu-movil {
		filter: invert(90%) sepia(0%) saturate(1%) hue-rotate(360deg)
		brightness(107%) contrast(100%);
	}
	.header__login-icon {
		display: none;
	}
}

.header__menu-movil {

	width: 20px;
	z-index: 100;
	@media (min-width: 768px) {
		display: none;
	}
}

.otro-menu {
	visibility: hidden;
	position: absolute;
	background-color: rgba(2, 2, 2, 0.877);
	top: 0;
	right: -100%;
	transition: 1s;
	width: 30%;
	height: 45%;

	&.open {
		visibility: visible;
		width: 30%;
		height: 45%;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		li a {
			font-size: 1rem;
		}
	}
}

.header__menu.open {
	display: none;
}
