.publicacion {
	margin-top: var(--header-height-mobil);
	width: 100%;
	/* height: calc(100vh - var(--header-height-mobile) - var(--footer-height)); */
	background-color: #000;


	@media (min-width: 768px) {
		margin-top: var(--header-height);
	}
}