.publicaciones__title{
	background-color: #7f4d8c;
	color: white;
	padding: 10px;
	/* margin: 10px; */
	/* border-radius: 10px; */
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.publicaciones__container{
	/* height: 600px; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	padding: 20px;
	background-color: #000;
	gap: 20px;

	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
		padding: 40px;
		gap: 40px;
	}
}