.publicaciones__title{
	background-color: #7f4d8c;
	color: white;
	padding: 10px;
	/* margin: 10px; */
	/* border-radius: 10px; */
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.publicaciones__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	padding-top: 20px;
	background-color: #000;
	
	@media (min-width: 768px) {
		gap: 50px;
		grid-template-columns: repeat(min(3, 100%));
	}
}