.header {
height: 100%;
	z-index: 100;
	position: fixed;
	width: 100%;
	background-color: var(--color-white);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

	&.open {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@media (min-width: 768px) {
		height: var(--header-height);
		margin-top: 0;

		.header__login-icon {
			display: flex;
			height: 45px;
			margin-right: 10px;
		}
	}
}

.header__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;

	@media (min-width: 768px) {
		padding: 0;
	}
}

.header__info-compania {
	display: flex;
	align-items: center;
	height: 100%;

	.header-logo {
		width: 110px;

		@media (min-width: 768px) {
			width: 120px;
			padding: 10px;
		}
	}

	.datos {
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;

		.info {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			span {
				color: var(--color-black);
				font-size: 0.8rem;
				font-weight: 400;
			}
		}

		img {
			width: 12px;
			height: 12px;
			margin-right: 10px;
			color: var(--color-primary);
		}
	}

	@media (min-width: 768px) {
		.datos {
			display: flex;
		}
	}
}

.header__login-icon {
	display: none;
	&.open {
		display: flex;
		height: 30px;

		@media (min-width: 768px) {
			width: 25px;
			padding: 10px;
		}
	}
}

.header__login.open {
	display: flex;
	gap: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;

	.header__menu-movil {
		filter: invert(90%) sepia(0%) saturate(1%) hue-rotate(360deg)
			brightness(107%) contrast(100%);
	}
	.header__login-icon {
		display: none;
	}
}

.header__menu-movil {
	position: fixed;
	top: 0;
	right: 0;
	width: 20px;
	z-index: 100;
	@media (min-width: 768px) {
		display: none;
	}
}

.menu-lateral {
	visibility: hidden;
	position: fixed;
	background-color: rgb(0, 0, 0);
	top: var(--header-height-mobile);
	right: 0;
	transform: translateX(100%);
	transition: 0.5s;
	width: 0;
	height: 500px;
	border-radius: 0 0 0 20px;
	box-shadow: -2px 3px 10px 2px rgba(152, 152, 152, 0.5);
	&.open {
		visibility: visible;
		width: 25%;
		height: 350px;
		transform: translateX(0%);
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		.header__login{
			align-self: center;
			margin-top: 10px;
		}
		li a {
			font-size: 1.3rem;
		}
		@media (min-width: 768px) {
			display: none;
		}
	}
}

.header__menu.open {
	display: none;
}

.header__menu.headerFixed {
	width: 100%;
	/* position: fixed; */
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

	@media (min-width: 768px) {
		.navbar {
			transition: none;
			margin-top: 0;
		}
	}
}

.menu-btn {
	position: absolute;
	z-index: 1;
	right: 1rem;
	top: 1rem;
	height: 20px;
	width: 28px;
	cursor: pointer;

	.bar1,
	.bar2,
	.bar3 {
		width: 35px;
		height: 5px;
		background-color: #333;
		margin: 6px 0;
		transition: 0.4s;
	}
	.change.bar1 {
		transform: translate(0, 11px) rotate(-45deg);
	}
	.change.bar2 {
		opacity: 0;
	}
	.change.bar3 {
		transform: translate(0, -11px) rotate(45deg);
	}

	.menu-btn__burger {
		display: inline-block;
		cursor: pointer;
	}

	&.open {
		transform: rotate(720deg);
		background: transparent;
		&::before {
			transform: rotate(45deg) translate(5px, 8px);
		}
		&::after {
			width: 28px;
			transform: rotate(-45deg) translate(3px, -7px);
		}
	}

	@media (min-width: 768px) {
		display: none;
	}
}
