.page {
	max-width: 1400px;
	margin: 0 auto;

	@media (min-width: 768px) {
		padding-top: var(--header-height);
	}
}
.hero {
	height: 300px;
	background-image: url('../../images/hero.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.services {
	background-color: var(--color-dark);
	color: var(--color-light);
	padding: 50px 0;
}
.services__container {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;

	h1 {
		text-align: center;
		font-size: 2rem;
		margin-bottom: 40px;
	}

	p {
		text-align: left;
		font-size: 1.2rem;
		font-family: 'Inter', sans-serif;
		font-weight: 100;
		line-height: 1.8;
	}

	.services__list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}
}

.services__item {
	min-width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
	background-color: var(--color-secondary);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	/* flex-basis: 50px; */

	&:hover {
		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		transform: scale(1.05);
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		box-shadow: 3px 3px 20px 2px rgba(255, 255, 255, 0.2);
	}

	img {
		width: 50px;
		height: 50px;
	}

	p {
		color: var(--color-light);
		font-size: 0.8rem;
		font-weight: 100;
	}
}

.about {
	transition: all 0.5s;
	background-color: var(--color-gris);
	color: var(--color-dark);
	padding: 20px 10px;
	background-image: url('../../images/background-_aboutUs.svg');
	background-position: bottom;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
}

.about__text {
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 10px 40px 0 40px;

	h1 {
		flex-basis: 40%;
		width: 60px;
		font-size: 2rem;
	}

	p {
		flex-basis: 60%;
		font-size: 1.2rem;
	}

	@media (min-width: 768px) {
		max-width: 80%;
		margin: 0 auto;
		display: flex;
		margin-bottom: 40px;
		justify-content: space-between;
		gap: 20px;
		h1 {
			flex-basis: 40%;
			width: auto;
		}
		p {
			flex-basis: 60%;
			font-size: 1.2rem;
			line-height: 1.8;
		}
	}
	.about__link {
		text-decoration: none;
		color: var(--color-dark);
		background-color: var(--color-light);
		padding: 10px 20px;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease;

		&:hover {
			transform: scale(1.05);
			transform: translateY(-10px);
			background-color: var(--color-secondary);
			box-shadow: 3px 3px 20px 2px rgba(255, 255, 255, 0.2);
			color: var(--color-light);
		}
		position: absolute;
		top: 20px;
		right: 10px;

		@media (min-width: 768px) {
			top: 10%;
		}
	}
}
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.cards li {
	align-items: center;
	flex-basis: 180px;
}

.seguros {
	padding-top: 20px;
	background-color: var(--color-gris);
	color: var(--color-dark);
	text-align: center;

	& h2 {
		margin: 0;
		padding-top: 20px;
		font-size: 1.2rem;
		font-weight: 600;
	}

	ul {
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}

	li {
		width: 100px;
		img {
			width: 100%;
		}
	}
}
