.footer {
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 10px 10px 10px;
	height: 100%;

	@media (max-width: 768px){
		height: auto;
	}

	.info-compania {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		flex-basis: 95%;
		/* gap: 15px; */
	}

	.datos {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5px;
		width: 100%;
		justify-content: space-evenly;
		align-items: flex-start;

		.info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			span {
				color: var(--color-light);
				font-weight: 100;
				font-size: 12px;
				text-align: center;
				margin-top: 5px;

				@media (min-width: 768px){
					font-size: 14px;
				}
			}

			.icons {
				width: 25px;
				height: 25px;
				margin-bottom: 5px;
				filter: invert(90%) sepia(0%) saturate(1%) hue-rotate(360deg) brightness(107%)
					contrast(100%);

				@media (min-width: 768px) {
					width: 25px;
					height: 25px;
				}
				
			}
		}
	}

	.redes-sociales {
		margin-bottom: 10px;
		flex-basis: 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-top: 10px;
		filter: invert(90%) sepia(0%) saturate(1%) hue-rotate(360deg)
			brightness(107%) contrast(100%);

		img {
			width: 30px;
			height: 30px;
		}
	}
}


.derechos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-light);
	font-size: .8rem;
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 5px;
	span {
		text-align: center;
		font-size: .6rem;
	}

	p {
		color: var(--color-light);
		font-weight: 400;
		text-align: center;
		font-size: .7rem;
		margin: 0;
		/* margin-bottom: 5px; */
	}
}
