@import './fonts/Inter/inter.css';
@import 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.css';
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
  --header-height: 52px;  
  --header-height-mobile: 70px;
	--footer-height: 200px;
	--footer-height-mobile: 200px;

	--color-primary: #7f4d8c;
	--color-primary-light: #b693bf;
	--color-secondary: #2d2b73;
	--color-gris: #cfcfcf;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-error: #ff0000;
	--color-success: #00ff00;
	--color-warning: #ffa500;
	--color-info: #0000ff;
	--color-dark: #000000;
	--color-light: #ffffff;
	--color-transparent: transparent;
	--color-shadow: rgba(0, 0, 0, 0.1);
	--color-shadow-dark: rgba(0, 0, 0, 0.2);
	--color-shadow-light: rgba(0, 0, 0, 0.05);
	--color-gray: #585858;
	--color-fondo: #e3e6e6;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: var(--color-fondo);
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-size: .625rem;
	line-height: 1.5;
}

.page__content {
	color: #fff;
	min-width: 320px;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
h1,h2{
	text-align: center;
	font-size: 2rem;
	color: var(--color-primary);
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-primary);
}


button {
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

button:focus {
	outline: none;
}

button:disabled {
	cursor: not-allowed;
}


input {
	border: none;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

input:focus {
	outline: none;
}

input:disabled {
	cursor: not-allowed;
}

input:disabled:hover {
	background: none;
}

textarea {
	border: none;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

textarea:focus {
	outline: none;
}

textarea:disabled {
	cursor: not-allowed;
}

textarea:disabled:hover {
	background: none;
}


