#map {
	height: 400px;
	width: 100%;

	@media (min-width: 768px) {
		height: 100%;
	}
}

.contact-container {
	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-top: var(--header-height);
	}
}

.form-container {
	background-color: var(--color-black);
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;


	
	input {
		margin-bottom: 40px;
	}

	@media (min-width: 768px) {
		justify-content: center;
	}

	.form {
		input,
		textarea {
			margin-bottom: 0;
			width: 100%;
			padding: 10px;
			/* margin-bottom: 20px; */
			border: 1px solid var(--color-white);
			border-radius: 5px;


		}
		textarea {
			height: 100px;
		}
		input::placeholder {
			font-size: 0.9rem;
		}
	}
}

.form-container {
	padding: 20px;

	h1 {
		font-size: 2rem;
		margin: 50px 0 0 0;
	}

	.form__error {
		margin: 0;
		color: red;
		font-size: 12px;
		font-weight: 100;
		text-align: left;
		padding-bottom: 10px;
		height: 30px;
	}
}



