#map {
  height: 400px;
  width: 100%;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 125px 1fr;

  .map-container {
    width: 100%;
    height: 100%;
    grid-row: 2 / 3;
  }

  .form-container {
    grid-row: 1 / 2;
  }

  .horarios {
    grid-row: 2 / 3;
  }

  .map-container {
    grid-row: 3 / 4;
	padding: 0;


    background-color: var(--color-white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    iframe {
      width: 100%;
      height: 100%;
    }
    @media (min-width: 768px) {
		padding: 10px;
		border-radius: 10px;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: var(--navbar-height);

    .map-container {
      grid-row: 1 / 2;
    }
  }
}
.map-container {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 30px;
  min-height: calc(
    100vh - var(--header-height-mobile) - var(--navbar-height) -
      var(--footer-height-mobile)
  );

  @media (min-width: 768px) {
    min-height: calc(
      100vh - var(--header-height) - var(--navbar-height) - var(--footer-height)
    );
    margin-top: 50px;
  }

  .form {
    input,
    textarea {
      margin-bottom: 0;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid var(--color-white);
      border-radius: 5px;
    }
    textarea {
      height: 100px;
    }
    input::placeholder {
      font-size: 0.9rem;
    }
  }

  .form__error {
    margin: 0;
    color: red;
    font-size: 12px;
    font-weight: 100;
    text-align: left;
    padding-bottom: 10px;
    height: 30px;
  }

  h1 {
    font-size: 30px;
    font-family: var(--font-family);
    font-weight: 600;
  }

  p {
    color: var(--color-gray);
  }

  input {
    margin-bottom: 40px;
  }
}
.horarios {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .horarios__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;

    svg {
      color: var(--color-secondary);
    }

    .horarios__text {
      margin: 0;
      font-size: 14px;
      color: var(--color-secondary);
    }
  }
}
